// Specific CSS for your home-page
.banner {
  position: relative;
  text-align: center;
  color: white;
}

.banner img {
  width: 100%;
  height: auto;
}


#lets_get_started_button {
  font-family: Lato;
  font-size: 16px;
  border-radius: 30px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 180px;
  height: 55px;
}
