.meal_background_image {
  object-fit: cover;
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
  background-size: cover;

  .calendar_button {
    padding-top: 100px;
    padding-left: 230px;

  }
}

.calendar_button button {
  color: white;
  background-color: orangered ;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  border: 0;
}

#cal_form{

  form{

    width: 300px;
    position: absolute;
    left: 0%
  }

  .remolacha{
    color: white;
    background-color: #ee5c07;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    font-size: 10px;
    top: 20%;
    right: 10%;
    border-radius: 50px;

  }
}
.meal_intro{
  h1{
    font-size: 25px;
    color: $orange;
    text-transform: uppercase ;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  background-color: rgb(255, 255, 255);
  padding: 20px;
  p{
    font-size: 16px;
    font-style: italic;
    color: rgb(170, 170, 170);
  }
}

.ingredients{
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  ul{
    font-size: 16px;
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.recipe{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-right: 40px;


  p{
    font-size: 16px;
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
 .description {
  padding-top: 30px;
 }

 .meal_intro{
  z-index: -1;
 }

#new_review{
 .review-form-content{
  .review_rating{
    margin-left: 20px;
    width: 25%;
    margin-top: 30px;

    #review_rating{
      text-align: left;
      padding-top: 14px;
      padding-left: 0px;
      border: none;
      border-bottom:  solid lightgray;
    }
  }
  .review_content{
    width: 70%;
    margin-right: 20px;
  }
 }
 input.btn.btn-primary{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
 }
}
