h1#logo{
  color: black;
}


#asparagus{

  #profile_options{

    display: grid;
    position: absolute;
    left: 65%;
    top: 70%;
    flex-direction: column;
    width: auto;
    background-color: white;
    font-size: 16px;
    z-index: 10101010101010;
    a{
      border-top: solid rgb(153, 143, 143);
      border-left: solid rgb(153, 143, 143);
      border-right: solid rgb(153, 143, 143);
      padding-left: 10px;
      padding-right: 10px;
      color: black;
      text-decoration: none;
    }

    :nth-of-type(4){
      border-bottom: solid rgb(153, 143, 143);
    }
  }
}
