.meal_meal_ingredients_ingredient{
  width: 60%;
}


.meal_meal_ingredients_quantity{
  width: 30%;
}

.post-form-qnty {
  display: flex;
  justify-content: space-between;
}


.form-control {
  border-radius: 0px;

}
#new_meal {
  .form-control.numeric {
      border: 0.5px solid lightgrey;
      height: 49px;

    }
  i{
  color: rgb(75, 78, 81);
  }

}
.form-entire {
  padding: 10px;
  padding-top: 60px;

  h1 {
    font-weight: 1000;
    text-transform: capitalize;
    color: $orange;
    font-style: italic;
  }
}
.file.form-control.file.optional {
  border: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.file.optional.meal_photos {
  margin-top: 30px;
}
.form-control.text{
  padding-bottom: 0px;
}
