.meal_meal_ingredients_ingredient{
  width: 60%;
}


.meal_meal_ingredients_quantity{
  width: 30%;
}

.post-form-qnty {
  display: flex;
  justify-content: space-between;
}

#meal_meal_ingredients_attributes_0_quantity {
height: 49px;
}

.form-control {
  border-radius: 3px;
}
