#new_user {

}
.simple_form{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.full_name_row{
  display: flex;
  justify-content: space-between;
  border-top: 0px;
}

.email_age_row{
  display: flex;
  justify-content: space-between;
}

.register_title{
  padding-left: 30px;
  padding-top: 50px,
}

.mb-3 {
  margin :10px;
}
.form-inputs{
  border-radius: 0;
}
.form-control {
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 0;
  background-color: white;
  border: 0;
  border-bottom: 0.5px solid black;
  padding-left: 0px;
}

.form-actions {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: $orange;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.user_age {
  column-width: 1;
}

.link{
  a{
    text-decoration: none;
    padding-left: 110px;
    color: rgba(84, 84, 84, 0.597);
  }

}

.register_title{
  font-weight: 1000;
  text-transform: capitalize;
  color: $orange;
  font-style: italic;
}

.login {
  padding-left: 60px;
}
