<div class="navbar navbar-expand-sm navbar-light navbar-tumenu">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dwalfnpav/image/upload/v1724753047/LogoTuMenu_eg6gkz.png", alt: "TuMenu_logo" %>
    <% end %>

    <button class="btn btn-success" type="button" id="sign_up_button">Sign up</button>
  </div>
</div>

