
<div class="navbar navbar-expand-sm navbar-light navbar-tumenu">
  <div class="container-fluid" id="container_nav">
     <%= image_tag "https://res.cloudinary.com/dwalfnpav/image/upload/v1724753047/LogoTuMenu_eg6gkz.png", alt: "TuMenu_logo", id: "logo" %>

     <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success", type: "button", id: "sign_up_button" %>
  </div>
</div>



