
<div class="banner">
    <%= image_tag "https://res.cloudinary.com/do9ythsfg/image/upload/v1725449081/NewLandingPageNew_wzwhiy.png", class: "banner-img" %>
    <div class="banner-content">
        <h1 class="welcome-logo">TÚMENU</h1>
        <h2 id="slogan">Recipes made easy<br/>plan your week with pleasure!</h2>
        <%= link_to "Get started", meals_path, class: "btn btn-primary", type: "button", id: "lets_get_started_button" %>
    </div>
</div>
<%=link_to "log out", destroy_user_session_path, data: {turbo_method: :delete}%>
