
<div class="banner">
    <%= image_tag "https://res.cloudinary.com/dwalfnpav/image/upload/v1724754507/Landing_Page_3_evhtfz.jpg", class: "banner-img" %>
    <div class="banner-content">
        <h1>Welcome to TuMenu!</h1>
        <h2>Recipes made easy</h2>
        <h3>plan your week with pleasure!</h3>
        <button class="btn btn-primary" id="lets_get_started_button">Lets get started!</button>
    </div>
</div>
