
<div class="banner">
    <%= image_tag "https://res.cloudinary.com/dwalfnpav/image/upload/v1724754507/Landing_Page_3_evhtfz.jpg", class: "banner-img" %>
    <div class="banner-content">
        <h1 class = "home_banner_text">Welcome to TuMenu!</h1>
        <h2 class = "slogan">Recipes made easy<br/>plan your week with pleasure!</h2>
        <button class="btn btn-primary" id="lets_get_started_button">Lets get started!</button>
    </div>
</div>
