<div class="meal-card gx-0">
  <%= image_tag "aaaaa.jpeg" %>
  <div class="meal-card-title-container">
    <%= link_to meal.name, meal_path(meal) %>
    <i class="bi bi-info-circle"></i>
  </div>
</div>
