<div class="carrousel-meal-card gx-0c" style = "background-image: url(<%= cl_image_path meal.photo.key%>)" %></span>
  <div class="meal-card-title-container carrousel-meal-card-title-container">
    <%= link_to meal.name.upcase, meal_path(meal) %>
    <div class="d-flex a-rating">
      <% rating = 0 %>
      <% meal.reviews.each do |review|%>
        <% rating += review.rating %>
      <% end %>
      <% unless rating == 0 %>
        <% rating = (rating/meal.reviews.size.to_f).round(1) %>
        <p><%= rating %></p>
        <i class="bi bi-star-fill"></i>
      <% end %>
    </div>
  </div>
</div>
