.navbar-tumenu {
  justify-content: space-between;
  background: white;
  height: 70px;
}

#container_nav {
  margin-top: -28px;
}

#sign_up_button {
  background-color: rgb(15, 184, 0);
  border: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3px 20px;
}

#logo {
  width: 90px;
}

#lets_get_started_button {
  background-color: rgb(13, 110, 253);
  border: none;
  
}
