.navbar-tumenu {
  justify-content: space-between;
  background: white;
  height: 70px;
}

.navbar-tumenu .navbar-collapse {
  flex-grow: 0;
}

.navbar-tumenu .navbar-brand img {
  width: 80px;
}


#sign_up_button {
  background-color: rgb(15, 184, 0);
  border-color: rgb(15, 184, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 35px;
  width: 90px;
  height: 30px;
}
